/* universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}

h6{
    font-weight: bold;
    color: black;
    font-size: 20px;
}
body{
    padding: 10px;
    background-color: aqua;
    background-image: url("../images/bg.jpg");
    background-size: cover;

    /* background: #f5f5f5 url("../images/tile.jpg") no-repeat center center; */
}

.container{
    /* display: inline; */
    /* display: none; */
    /* visibility: hidden; */
    width: 500px;
    /* margin-top: 50px; */
    padding: 45px;
    /* border: 5px solid red; */
    /* border-width: 3px 6px 9px 12px; */
    /* border-top: 5px solid black; */
    /* border-style: solid; */
    /* border-color: green; */
}
.inner-container{
    float: right;
    border: 5px solid green;

}

.myol > li{
    color: red;
}